@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Cantora+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

:root {
  --mw: 1400px;
  --point_c1: #45156e;
  --gap1: 8px;
  --gap2: 16px;
  --gap3: 32px;
  --fs1: 20px;
  --fs2: 32px;
  --fs3: 48px;
  --swiper-theme-color: #000000;
  font-family: "Gowun Dodum", sans-serif;
  word-break: keep-all;
}
a {
  color: inherit;
}
.mw {
  max-width: var(--mw);
  margin: auto;
  width: calc(100% - 2rem);
}

.fa-circle-plus {
  transition: 0.3s;
}
.fa-circle-plus:hover {
  color: var(--point_c1);
  transform: rotate(90deg);
}
/* //////헤더 영역////// */
.hd {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
}

.top_nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.icons {
  width: 250px;
}
.logo > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
}
.gnb {
  display: flex;
}
.gnb a {
  display: block;
  padding: var(--gap1) var(--gap2);
  font-size: var(--fs1);
}
.gnb > li {
  margin: 0 var(--gap1);
  width: 120px;
  position: relative;
}
.gnb > li a {
  transition: 0.3s;
  text-align: center;
  position: relative;
}
.gnb > li > a {
  font-weight: bold;
}

.gnb > li a:hover {
  color: var(--point_c1);
  font-weight: 800;
}
.sub > li a::before {
  content: "";
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: var(--gap3);
  background-color: var(--point_c1);
  position: absolute;
  transition: 0.3s;
}
.sub > li a:hover::before {
  width: 70%;
}
.gnb > li::after {
  content: "\f043";
  font: var(--fa-font-solid);
  color: var(--point_c1);
  font-size: var(--gap2);
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  overflow: hidden;
}
.gnb > li:hover::after {
  opacity: 1;
  transition: 0.3s;
  top: -30%;
}

.gnb::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #f8f7fa;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
}
.gnb:hover::after {
  opacity: 1;
  height: 130px;
}

.sub {
  position: absolute;
  padding-top: 10px;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  width: 100%;
}
.gnb:hover li .sub {
  opacity: 1;
}
.sub li a {
  font-size: var(--gap2);
  text-align: center;
}

.icons {
  display: flex;
  justify-content: end;
}
.icons a {
  margin-left: var(--gap2);
  transition: 0.3s;
}

.ham {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.icons a:hover,
.ham:hover {
  color: var(--point_c1);
}

/* //////메인 영역////// */
.check_point1 {
  background-color: #f8f7fa;
  margin-top: 100px;
}
.check_point2,
.check_point4 {
  background-color: var(--point_c1);
}

.point_con {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec_tiltle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.point_num01,
.point_num03,
.point_num05 {
  font-size: var(--fs1);
  color: #828282;
  margin-bottom: 0.25rem;
}
.sec_tiltle p {
  font-size: var(--fs2);
  font-weight: bold;
  margin-bottom: 1rem;
}
.sec_detail1 {
  font-size: var(--fs1);
  max-width: 420px;
  text-align: center;
  line-height: 28px;
  margin-bottom: 2rem;
  color: #424242;
  font-weight: bold;
}
.sec_detail1 span {
  color: #763baa;
  font-weight: bold;
}
.point_img {
  width: 70%;
}
.point_img img {
  width: 100%;
}
.img_detail {
  width: 70%;
  margin-top: 1rem;
}
.img_detail1-1,
.img_detail5-1,
.img_detail5-2 {
  font-size: var(--fs1);
  font-weight: bold;
  color: #424242;
  margin-bottom: 0.5rem;
}
.img_detail1-2 {
  color: #828282;
}

.check_point2 .sec_tiltle p,
.check_point4 .sec_tiltle p {
  color: #f5f5f5;
}
.point_num02,
.point_num04 {
  font-size: var(--fs1);
  margin-bottom: 0.25rem;
  color: #c1c1c1;
}
.sec_detail2,
.sec_detail4 {
  font-size: var(--fs1);
  text-align: center;
  line-height: 28px;
  margin-bottom: 2rem;
  color: #efeeee;
}
.sec_detail3,
.sec_detail5 {
  font-size: var(--fs1);
  text-align: center;
  line-height: 28px;
  margin-bottom: 2rem;
  color: #424242;
  font-weight: bold;
}
.sec_detail3 span,
.sec_detail5 span {
  color: #763baa;
  font-weight: bold;
}
.img_detail3-1,
.img_detail3-2 {
  font-size: var(--fs1);
  font-weight: bold;
  color: #424242;
  margin-bottom: 0.5rem;
}
.img_detail4-1,
.img_detail4-2,
.img_detail4-3 {
  font-size: var(--fs1);
  color: #efeeee;
  margin-bottom: 0.5rem;
}
.subscribe_button {
  margin-top: 120px;
  width: 70%;
  padding: 1.5rem;
  text-align: center;
  background-color: var(--point_c1);
  font-size: var(--fs2);
  color: #ffffff;
  border-radius: var(--gap2);
}

/* //////푸터영역////// */
.ft {
  margin-top: 100px;
  background-color: #17161f;
  height: 300px;
  color: #ffffff;
  padding: 50px;
}
.ft_con {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.ft_detail_1 {
  width: 65%;
  color: #828282;
  letter-spacing: -0.48px;
  line-height: 1.88;
}
.ft_detail_1 div {
  height: var(--fs1);
}
.ft_detail_2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.links a {
  margin-left: var(--gap2);
  padding: 0.5rem;
  border-radius: var(--gap1);
  font-size: var(--fs1);
  transition: 0.3s;
}
.sns_logo a {
  margin-left: var(--gap2);
  transition: 0.3s;
}
.links a:hover {
  background-color: var(--point_c1);
}
.sns_logo a:first-of-type:hover {
  color: #d6249f;
}
.sns_logo a:last-of-type:hover {
  color: #4267b2;
}

/* //////반응형////// */

@media (max-width: 1250px) {
  .icons {
    display: none;
  }
}
@media (max-width: 960px) {
  .hd.on {
    height: auto;
  }
  .top_nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .gnb {
    display: none;
  }
  .gnb.on {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #82828259;
    margin-top: var(--gap3);
  }
  .gnb.on > li {
    height: 180px;
    border-bottom: 1px solid #82828259;
    padding-top: 1rem 0;
  }
  .gnb > li:nth-of-type(1),
  .gnb > li:nth-of-type(2) {
    width: 50%;
  }
  .gnb > li:nth-of-type(3),
  .gnb > li:nth-of-type(4),
  .gnb > li:nth-of-type(5) {
    width: 33%;
  }
  .gnb > li::after {
    display: none;
  }

  .gnb > li a::before {
    transition: 0.3s;
  }
  .gnb > li a:hover::before {
    width: 80px;
  }
  .gnb > li {
    padding-top: 0.5rem;
    margin: auto;
  }
  .sub {
    display: block;
    opacity: 1;
    position: relative;
  }
  .gnb::after {
    display: none;
  }
  .hd.on .icons {
    display: flex;
    align-self: flex-end;
    padding: 1rem;
  }
  .ham {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem;
  }

  .point_img {
    width: 90%;
  }
  .img_detail {
    width: 90%;
  }

  .ft {
    height: auto;
  }
  .ft_detail_1 {
    font-size: 12px;
  }
  .ft_detail_2 {
    justify-content: flex-start;
  }
  .ft_detail_2 > div {
    margin-bottom: var(--gap2);
  }
  .links a {
    font-size: var(--gap1) !important;
  }
}

@media (max-width: 380px) {
  .wine_detail {
    padding-top: 1.5rem;
    line-height: 1rem;
  }
  .hd {
    height: 80px;
  }
  .logo {
    height: 80px;
  }
  .logo > a {
    height: 80px;
  }
  .gnb.on {
    margin-top: 0;
  }
  .ham {
    width: 20px;
    height: 20px;
    padding: 0;
    top: 2rem;
  }
  .ham i {
    font-size: var(--fs1);
  }
  .point_img {
    width: 100%;
  }
  .img_detail {
    width: 100%;
  }
  .img_detail {
    text-align: center;
  }
}
