@charset 'utf-8';

.sec1 {
  border: 1px solid red;
  display: flex;
}
.sec1 > div {
  border: 1px solid pink;
}
.sec1_banner1 {
  width: 37.5%;
  background-color: purple;
  display: flex;
  justify-content: flex-end;
}
.sec1_slide1 {
  width: 62.5%;
  background-color: plum;
}
.banner {
  border: 10px solid yellow;
  width: 480px;
}
.slide1 {
  border: 10px solid yellow;
  max-width: 960px;
  height: 300px;
}
